* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    background: linear-gradient(red);
    position: sticky;
    top: 0;
    z-index: 10;
    float: right;
}

.nav-link:hover {
    background-color: rgb(255, 0, 115);
}

.navbar {
    padding: 0 !important;
}

navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30p !important;
}

.navbar-toggler {
    outline: none !important;
}


/*---banner section--*/

#main {
    text-align: center;
    background-image: linear-gradient(to right,rgb(38, 255, 0) , rgb(255, 192, 227));
    color: #fff;
    padding-top: 5%;
}

.container h1 img {
    padding-bottom: 0px;
}


/*---service section---*/

#features1 {
    text-align: center;
    padding: 10% 15%;
}

#features {
    text-align: center;
    padding: 10% 15%;
    background-image: url('https://study.com/cimages/videopreview/videopreview-full/banking_sytem_capture_122455.jpg');
}

.features1 h3 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.features h3 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translatey(63px);
}

.title::after {
    content: '';
    background: green;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translatey(8px);
}

#features .btn-primary {
    box-shadow: none;
    padding: 10px 25px;
    border: none;
    align-content: center;
    background-image: linear-gradient(to right, #50ba17, #b911bf)
}


/* Action*/

#action {
    background-color:  #31326f;
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.main {
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px 0px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/* footer */

#footer {
    background-image: linear-gradient(to right,rgb(38, 255, 0) , rgb(255, 192, 227));
    color: #fff;
    padding: 4% 15%;
    text-align: center;
}